# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*$py.class

# ================================
# Virtual Environment
# ================================
venv/
.venv/
env/

# ================================
# IDE
# ================================
.vscode/
.idea/

# ================================
# Environment Variables
# ================================
.env

# ================================
# Database
# ================================
*.db
database/*.db

# ================================
# Logs
# ================================
*.log

# ================================
# Python Cache
# ================================
.pytest_cache/
.mypy_cache/

# ================================
# Generated Outputs
# ================================
outputs/

# ================================
# Uploaded Files
# ================================
uploads/

# Keep folder structure
!uploads/.gitkeep
!outputs/.gitkeep